.productCard {
    width: 22%;
    padding: 15px;
    border: 1px solid #282828;
    box-shadow: 3px 5px 5px #282828;
    border-radius: 10px;
}

.yellowHeart {
    color: rgb(211, 211, 0);
}
.greyHeart {
    color: silver;
}

.greenBasket {
    color: green;
}

.greyBasket {
    color: silver;
}

.image {
    position: relative;
}

.productImage {
    padding: 10px;
    width: 100%;
}

.sale {
    background-color: red;
    color: whitesmoke;
    padding: 5px;
    font-family: sans-serif;
    font-weight: 500;
    position: absolute;
    left: 5px;
    top: 5px;
} 

.productIcons {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.values {
    padding: 10px;
    display: flex;
    justify-content: flex-start; 
    column-gap: 15px;
    align-items: center;
}

.afterValue {
    color: #282828;
    font-size: 20px;
    font-weight: 700;
}

.beforeValue {
    color: silver;
    font-size: 18px;
    text-decoration: line-through;
    font-weight: 500;
}

.Stars {
    width: 100%;
}

input.range { 
    width: 100%;
    outline: none;
    background: #04AA6D;
}