ul {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul > li {
    padding: 10px 25px;
    background-color: rgb(233, 223, 223);
    color: #282828;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 700;
}